trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

stages:
- stage: Build
  jobs:
  - job: BuildJob
    steps:
    - script: echo Building the application
      displayName: 'Run Build'

- stage: Test
  jobs:
  - job: TestJob
    steps:
    - script: echo Running tests
      displayName: 'Run Tests'

- stage: AzureTest
  dependsOn: Test
  jobs:
  - job: AzureTestJob
    steps:
    - task: AzureCLI@2
      inputs:
        azureSubscription: 'Azure subscription 1(0fdd7122-3105-4287-b900-df212ee1e24f)'
        scriptType: 'bash'  # Changed from 'ps' to 'bash'
        scriptLocation: 'inlineScript'
        inlineScript: |
          az login --service-principal -u $servicePrincipalId -p $servicePrincipalKey --tenant $tenantId
          az group list
          az vm list
      displayName: 'Azure CLI Test'

- stage: Deploy
  dependsOn: AzureTest
  jobs:
  - job: DeployJob
    steps:
    - script: echo Deploying to production
      displayName: 'Deploy Application'
